p{
    background-color: rgba(89, 199, 199, 0.53);
}
div{
    background-color: rgb(214, 214, 112);
}
a{
    background-color: rgb(241, 106, 106);
}
span{
    background-color: rgb(79, 79, 202);
    color: yellow;
}